
#Title {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 50px;
}

#label, #label2 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px; /* Add spacing below each label */
}

#score, #name {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px; /* Add spacing below each input box */
    width: 50%; /* Set a consistent width for the input boxes */
    text-align: center; /* Center-align text inside the input boxes */
    border-radius: 10px; /* Rounded corners for input boxes */
    border: 2px solid #000000; /* White border for input boxes */
    
}

#setButton {
    font-size: 30px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 10px; /* Add spacing above the button */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    width: 10%;
}

#setButton:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 430px){
    #Title {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    .form {
        font-size: 20px; /* Adjust font size for smaller screens */
        margin-top: 20px; /* Adjust spacing for smaller screens */
    }

    #label, #label2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    #score, #name {
        font-size: 15px; /* Adjust font size for smaller screens */
        width: 80%; /* Adjust width for smaller screens */
    }

    #setButton {
        font-size: 20px; /* Adjust font size for smaller screens */
        width: 100%; /* Adjust width for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        margin-left: 0; /* Center the button on smaller screens */
        margin-top: 20px; /* Add spacing above the button */
    }
    #exit {
        position: static; /* Remove absolute positioning */
        width: 200px; /* Set a consistent width for buttons */
        padding: 10px; /* Add padding for better appearance */
        text-align: center; /* Center-align text inside buttons */
        margin: 10px 0; /* Add vertical spacing between buttons */
        border-radius: 10px; /* Add rounded corners */
        margin-top: 30%;
    }
    
}
