#Title {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 50px;
}

#label, #label2 {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px; /* Add spacing below each label */
}

#score, #name {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px; /* Add spacing below each input box */
    width: 50%; /* Set a consistent width for the input boxes */
    text-align: center; /* Center-align text inside the input boxes */
    border-radius: 10px; /* Rounded corners for input boxes */
    border: 2px solid #000000; /* White border for input boxes */
    
}

#setButton {
    font-size: 30px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 10px; /* Add spacing above the button */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    width: 10%;
}

#setButton:hover {
    transform: scale(1.2);
}

/* #setButton2 {
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#setButton2:hover {
    transform: scale(1.2);
} */
