<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="../../static/CSS/components/card.css">
    <link rel="stylesheet" href="../../static/CSS/components/higher&LowerBox.css">
    
    

</head>

<body>

    <div class="row">
        <div class="column-card-left">
            <div class="card" id="cardstats">
                <div class="usersName">
                    <h4>
                        <!--{{username}}-->
                    </h4>
                </div>


                <img class="formatedCard" alt="Formatted Card" src="../../static/images/FormattedCard.png" height="800"
                    width="800">
                <div class="cardContent">
                    <div class="row">
                        <div class="column"> <img class="teamLogo" id ="player-teamlogo" alt="Team logo" height="50" width="50"> </div>
                        <div class="column">
                            <h2 class="position" id="player-position">C</h2>
                        </div>
                    </div>

                    <img class="playerPicture" id="player-headshot" src="../../static/images/temp-player-headshot.png" alt="Player picture" height="300" width="350">
                    <h2 class="playerName" id="player-name">Name</h2>
                    <div class="stats">
                        <div class="row">
                            <div class="column">
                                <div class ="tooltip">
                                    <h3 class="higherOrLower height" id="player-height" data-stat="Height">0</h3>
                                    <span class="tooltiptext"><img class="leftArrow" src="../../static/images/left-arrow-outlined.png" alt="left-arrow" height="70" width="70"> </span>
                                </div>
                                
                            </div>
                            <div class="column">
                                <div class="tooltip2">
                                    <h3 class="higherOrLower goals" id="player-goals" data-stat="Goals">0</h3>
                                    <span class="tooltiptext2"><img class="rightArrow" src="../../static/images/right-arrow-outlined.png" alt="right-arrow" height="70" width="70"> </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class = tooltip>
                                    <h3 class="higherOrLower weight" id="player-weight" data-stat="Weight">0</h3>
                                <span class="tooltiptext"><img class="leftArrow" src="../../static/images/left-arrow-outlined.png" alt="left-arrow" height="70" width="70"> </span>
                                </div>
                                
                            </div>
                            <div class="column">
                                <div class ="tooltip2">
                                    <h3 class="higherOrLower gamesPlayed" id="player-gamesPlayed" data-stat="GamesPlayed">0</h3>
                                    <span class="tooltiptext2"><img class="rightArrow" src="../../static/images/right-arrow-outlined.png" alt="right-arrow" height="70" width="70"> </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <div class="tooltip">
                                    <h3 class="higherOrLower assist" id="player-assists" data-stat="Assist">0</h3>
                                 <span class="tooltiptext"><img class="leftArrow" src="../../static/images/left-arrow-outlined.png" alt="left-arrow" height="70" width="70"> </span>
                                </div>
                                
                            </div>
                            <div class="column">
                                <div class="tooltip2">
                                    <h3 class="higherOrLower shooting" id="player-shootingPctg" data-stat="Shooting">0%</h3>
                                <span class="tooltiptext2"><img class="rightArrow" src="../../static/images/right-arrow-outlined.png" alt="right-arrow" height="70" width="70"> </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="column-card-middle">
            <div class="higherOrLowerBox" style="display: none;">
                <h2>{{stat}} Selected, Higher or Lower?</h2>
                <div class="row">
                    <div class="column2">
                        <button id="higherChosen">
                            <img class="higher" src="../../static/images/green.png" alt="higher" height="50" width="50">
                        </button>
                    </div>
                    <div class="column2">
                        <h3> OR</h3>
                    </div>
                    <div class="column2">
                        <button id="lowerChosen">
                            <img class="lower" src="../../static/images/red-arrow.png" alt="lower" height="50" width="50">
                        </button>
                    </div>
                </div>
                <p class="userSelection"></p> <!-- This will display the user's choice -->
                <img id="penguin">
            </div>
        </div>
        <div class="column-card-right">

            <div class=blankCard>
                <div class="opponentName">
                    <h4>
                        CPU
                    </h4>
                </div>
                <div id="oppCard">
                <img class="playerCard" src="../../static/images/PlayerCard.png" alt="Player Card" height="800"
                    width="800">
                </div>  

                    
            </div>
        </div>
    </div>

    <!-- <button class="higherOrLower">Click me</button> -->

    


</body>
<script src="../../static/JS/cardStats.js"></script>
<script src="../../static/JS/higherOrLower.js"></script>
<script src="../../static/JS/cardStats.js"></script>

</html>