<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round Result</title>
    <link href="../static/CSS/components/card.css" rel="stylesheet" type="text/css">
    <link href="../static/CSS/components/container.css" rel="stylesheet" type="text/css">
    <link href="../static/CSS/pages/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="larger-container">
        <div class="result-message" id="resultMessage">
            <!-- Result message will be dynamically inserted here -->
        </div>

        <!-- Scoreboard below result message -->
        <div class="scoreboard">
            <div class="score-item">
                <span id="userLabel"></span>
                <span id="userScore"></span>
            </div>
            <div class="score-item">
                <span id="computerLabel"></span>
                <span id="computerScore"></span>
            </div>  
        </div><br><br>

        <!-- "First to X" Label -->
        <div class="firstToX" id="firstToX">
            First to: --
        </div><br><br>

        <div class="redirect-message">
            Redirecting back to the game...
        </div>
    </div>
    <script src = "../static/JS/endOfRound.js"></script>
</body>
</html>
