<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass</title>
    <link rel="stylesheet" href="../../static/CSS/pages/pass.css">
</head>
<body>
    <div class="pass">
        <h1>PASS</h1>
        <button id="playButton">Play</button>
    </div>

    <script>
        // Add a click event listener to the button
        document.getElementById("playButton").addEventListener("click", function () {
            // Navigate to the "Pick Up Card" page
            window.location.href = "/pickUpCard";
        });
    </script>
</body>
</html>