<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass and Play</title>
    <link rel="stylesheet" href="../static/CSS/pages/vsComputer.css">
    <link rel="stylesheet" href="../static/CSS/components/button.css">
    <link rel="stylesheet" href="../static/CSS/components/container.css">
    <link rel="stylesheet" href="../static/CSS/components/basics.css">
</head>

<body>
    <div class="container">
        <h1 id="Title">Pass and Play</h1>
        <form id="scoreForm">
            <label id="label" for="score">Set the score you're going to:</label>
            <div class="input-container">
                <input type="text" id="score" name="score">
                <br>
                <label id="label" for="name">What is Player 2's name?</label>
                <br>
                <input type="text" id="name" name="name">
                <input onclick="startPassAndPlay()" type="submit" id="setButton" value="Set">
            </div>
        </form>

        <a href="{{ url_for('home') }}" class="button-class" id="exit">Exit</a>
    </div>
</body>

<script>
    function startPassAndPlay() {
        const playerName = document.getElementById("name").value; // Get the name from the input field
        sessionStorage.setItem("player2Name", playerName); // Store the name in sessionStorage
        sessionStorage.setItem("gameMode", "passAndPlay"); // Set the game mode to "passAndPlay"
        window.location.href = "/pickUpCard"; // Redirect to the "Pick Up Card" page
    };
</script>
<script src="../static/JS/fetch_player_list.js"></script>
<script src="../static/JS/firstToX.js"></script>
</html>
