<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass and Play</title>
    <link rel="stylesheet" href="../static/CSS/pages/vsComputer.css">
    <link rel="stylesheet" href="../static/CSS/components/button.css">
    <link rel="stylesheet" href="../static/CSS/components/container.css">
    <link rel="stylesheet" href="../static/CSS/components/basics.css">
</head>

<body>
    <div class="container">
        <h1 id="Title">Pass and Play</h1>
        <form id="scoreForm">
            <label id="label" for="score">Set the score you're going to:</label>
            <div class="input-container">
                <input type="text" id="score" name="score">
                <br>
                <label id="label2" for="name">What is player 2's name:</label>
                <br>
                <input type="text" id="name" name="name">
                <input type="submit" id="setButton" value="Set">
            </div>
        </form>

        <a href="{{ url_for('home') }}" class="button-class" id="exit">Exit</a>
    </div>
</body>

<script>
    // Attach an event listener to the form to handle submission
    document.getElementById("scoreForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent the form from submitting and refreshing the page

        // Get the values of the input fields
        const player2Name = document.getElementById("name").value;
        const score = document.getElementById("score").value;

        // Store the game mode, player 2's name, and score in sessionStorage
        sessionStorage.setItem("gameMode", "passAndPlay");
        sessionStorage.setItem("player2Name", player2Name);
        sessionStorage.setItem("targetScore", score);

        // Redirect to the "Pick Up Card" page
        window.location.href = "/pickUpCard";
    });
</script>

</html>
