<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pick up card</title>
    <link rel="stylesheet" href="../static/CSS/components/pickUpCard.css">
</head>

<body>
    <div class="container">
        <img class="playerCard" src="../static/images/PlayerCard.png" alt="Player Card" height="800" width="800">
        <a href="/card" class="pickUpButton" id="pickCard">Pick up next card</a>
    </div>
</body>



</html>