<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pick up card</title>
    <link rel="stylesheet" href="../static/CSS/components/pickUpCard.css">
</head>

<body>
    <div class="container">
        <img class="playerCard" src="../static/images/PlayerCard.png" alt="Player Card" height="800" width="800">
        <a class="pickUpButton" id="pickCard">Pick up next card</a>
    </div>
</body>

<script>
    // Check the value of "lastTurn" in sessionStorage
    const lastTurn = sessionStorage.getItem("lastTurn");

    if (lastTurn === "computer") {
        document.getElementById("pickCard").setAttribute("href", "/card");
    } else if (lastTurn === "user") {
        document.getElementById("pickCard").setAttribute("href", "/computersTurn");
    } else if (lastTurn === "player1") {
        document.getElementById("pickCard").setAttribute("href", "/player1Turn");
    } else if (lastTurn === "player2") {
        document.getElementById("pickCard").setAttribute("href", "/player2Turn");
    } else if (sessionStorage.getItem("gameMode") === "passAndPlay") {
        // Redirect to player1Turn if the game mode is "passAndPlay"
        document.getElementById("pickCard").setAttribute("href", "/player1Turn");
    } else {
        document.getElementById("pickCard").setAttribute("href", "/card");
    }
</script>

</html>