<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="../static/CSS/pages/index.css" rel="stylesheet" type="text/css">
    <link href="../static/CSS/pages/home.css" rel="stylesheet" type="text/css">
    <link href="../static/CSS/components/button.css" rel="stylesheet" type="text/css">
    <link href="../static/CSS/components/container.css" rel="stylesheet" type="text/css">
    <link href="../static/CSS/components/basics.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1 id="HomeTitle">Welcome to the Admin Dashboard, {{ username }}</h1>
  
    <div id="buttonContainer">
        <a href="{{ url_for('manage_users') }}" class="button-class" id="HowToPlayButton">Manage Users</a>
        <a href="{{ url_for('admin_table') }}" class="button-class" id="vsComputerButton">Admin Table</a>
        <a href="/logout" class="button-class" id="passAndPlayButton">Logout</a>
    </div>
</body>
</html>
