h2,
h3 {
    color: rgb(255, 255, 255);
}

.card {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* Make sure the container takes the full height of the viewport */
    margin-top: 15%;
}


.formattedCard {
    max-width: 100%;
    border-radius: 5px;
    z-index: 0;
    /* Ensure the image is below the button */
    
}

.formattedCard2 {
    max-width: 100%;
    border-radius: 5px;
    z-index: 0;
    /* Ensure the image is below the button */
    
    
}

.cardContent {
    position: absolute;
    z-index: 1;
    top : 0%;
}

.cardContent2{
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 20%;
}

.position {
    padding-top: 75%;
    padding-bottom: 0px;
    padding-left: 35%;
}

.teamLogo {
    padding-top: 75%;
    padding-bottom: 0px;
    padding-left: 50%;
    border-radius: 50%;
}

.position2 {
    padding-top: 70%;
    padding-bottom: 0px;
    padding-left: 65%;
}

.teamLogo2 {
    padding-top: 70%;
    padding-bottom: 0px;
    padding-left: 80%;
    border-radius: 50%;
}

.playerName {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20%;
    position: center;

}

.playerName2 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 35%;
    position: center;
}

.playerPicture {
    padding-bottom: 0px;
    position: relative;
}

.playerPicture2 {
    padding-bottom: 0px;
    position: relative;
    padding-left: 20%;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-card-left
{
    float: left;
    width: 50%; /* Default width is 50% */
    transition: width 0.3s ease; /* Smooth transition for width changes */
}

.column-card-right {
    float: right;
    width: 50%; /* Default width is 50% */
    transition: width 0.3s ease; /* Smooth transition for width changes */
}

.column-card-middle {
    float: left;
    width: 0; /* Default width is 0 */
    transition: width 0.3s ease, margin 0.3s ease; /* Smooth transition for width and margin changes */
    overflow: hidden; /* Prevent content overflow when the width is 0 */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.displayChoice {
    display: none; /* Hidden by default */
    background: rgba(88, 88, 88, 0.7);
    border: 2px dotted rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%; /* Ensure it fits within the middle column */
    height: auto;
    margin-top:100%;
    font-size: 20px;

}

.computer-choice {
    display: none; /* Hide the loading GIF by default */
    text-align: center;
    margin-top: 80%;
}

.loading {
    display: block; /* Show the loading GIF when the computer is choosing */
    width: 100%; /* Adjust the size of the GIF */
    height: auto; /* Maintain aspect ratio */
    margin-top: 70%; /* Center the GIF vertically */
    margin-right: 10%; /* Center the GIF horizontally */
    padding-top: 5%;
    

}
 #computerChoice-text {
    padding-top: 10%;
    text-align: center;
padding-bottom: 0%;
font-size: 30px;
margin-top: 20%;
margin-bottom: 0%;
}


.stats {
    padding-top: -0%;
    margin-top: -3%;
    padding-left: 25%;
   
}

.stats2 {
    padding-top: -0%;
    margin-top: -3%;
    padding-left: 45%;
   
}

.goals,
.gamesPlayed{
    padding-top: 0px;
    padding-left: 60%;
}

.shooting{
    padding-top: 0px;
    padding-left: 60%;
}

.goals2,
.gamesPlayed2{
    padding-top: 0px;
    padding-left: 100%;
    
}

.shooting2{
    padding-top: 0px;
    padding-left: 100%;
}

.blankCard {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* Make sure the container takes the full height of the viewport */
    margin-top: 15%;
    overflow: visible;
}

.usersName {
    background-color: chartreuse;
    border: 2px solid black;
    width: 20%;
    margin-bottom: 5%;
    text-align: center;
    font-size: auto;
}

.opponentName {
    background-color: red;
    border: 2px solid black;
    width: 20%;
    margin-bottom: 5%;
    text-align: center;
    font-size: auto;
}

body {
    background-image: url("../../images/vsBackround-resized-again.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

