.column2 {
    float: left;
    width: 33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.higherOrLowerBox{
    
    background: rgba(88, 88, 88, 0.7);
    border: 2px dotted rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 70%;
}

.higher{
    
}

.lower{
   
}