.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* Make sure the container takes the full height of the viewport */
  text-align: center;
}

.pickUpButton {
  position: absolute;
  top: 45%;
  left: 29.5%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  width: 40%;
  font-size: 50px;
  z-index: 1;
  /* Ensure the button is above the image */
  text-decoration: none;
}

.pickUpButton:hover {
  background-color: rgba(0, 0, 0, 1);
  /* Darken the background on hover */
  transform: scale(1.2);
  /* Increase size by 20% */
  transition: transform 0.3s ease;
  /* Smooth transition */
  box-shadow: 0 0 5px 5px oldlace;
  /* Box shadow to make the button pop */
}

.playerCard {
  max-width: 100%;
  border-radius: 5px;
  z-index: 0;
  /* Ensure the image is below the button */
}

body {
  background-image: url("../../images/vsBackround-resized-again.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 430px), (max-height: 932px) {
  .pickUpButton {
    font-size: 30px;
    /* Adjust font size for smaller screens */
    width: 65%;
    /* Adjust width for smaller screens */
    left: 15%;
  }

  .playerCard {
    width: 100%; /* Stretch the card to cover more of the screen width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the card horizontally */
  }
}